.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:20px;
  margin-bottom:20px;
  border:2px solid blue;
  width:100%;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  border:2px solid red;
  width:80%;
}
h2 {
  color: #ffeead;
  font-size: 30px;
  margin-bottom: 20px;
}
.ganttChartContainer{
  width:80%;
}
.svgContainer {
  
  overflow: auto;
  border:2px solid green;
}

.processCell {
  fill: #a66e38;
  stroke: #FFEEAD;
}

.idleCell {
  fill: #FFEEAD;
  stroke: #a66e38;
  border-style: 50px;
}

.cellText {
  fill: black;
  font-size: 14px;
}

.timelineLine {
  stroke: black;
  stroke-width: 0.5;
}

.timelineText {
  fill: black;
  font-size: 15px;
}

.generateBtn {
  padding: 15px 20px;
  background-color: #a66e38;
  border-radius: 40px;
  margin-bottom: 20px;
  border: none;
  color: #ffeead;
  font-size: 20px;
  cursor: pointer;
  max-width: 300px;
  transition: background-color 0.3s ease;
}

.generateBtn:hover {
  background-color: #8b5e2b;
}

.simulateBtn {
  padding: 5px 20px;
  background-color: #a66e38;
  border-radius: 40px;
  margin-bottom: 20px;
  border: none;
  color: #ffeead;
  font-size: 15px;
  cursor: pointer;
  max-width: 300px;
  transition: background-color 0.3s ease;
}

.simulateBtn:hover {
  background-color: #8b5e2b;
}
