.mainContainer {

}
.titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
}
h2 {
  color: #ffeead;
  font-size: 30px;
  margin-bottom: 20px;
}

.svgContainer {
max-width: 800px;
overflow: auto;
}
svg{
  border: 2px solid red;

}
Array{
  border: 2px solid red;
}
.processCell {
  fill: #a66e38;
  stroke: #2b6cb0;
}

.idleCell {
  fill: #f0f0f0;
  stroke: #718096;
}

.cellText {
  fill: black;
  font-size: 14px;
}

.timelineLine {
  stroke: black;
  stroke-width: 0.5;

}

.timelineText {
  fill: black;
  font-size: 20px;
}

.generateBtn {
  padding: 15px 20px;
  background-color: #a66e38;
  border-radius: 40px;
  margin-bottom: 20px;
  border: none;
  color: #ffeead;
  font-size: 20px;
  cursor: pointer;
  max-width: 300px;
  transition: background-color 0.3s ease;
}

.generateBtn:hover {
  background-color: #8b5e2b;
}
