form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  display: flex;
  flex-direction: row;
}
.title{
    font-size: 50px;
    color:  #FFEEAD;
}
.inputContainer {
  margin-bottom: 10px;
}
.at{
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #A66E38;
    padding: 20px;
    margin-bottom: 20px;
}
label{
    text-align: left;
    color: #FFEEAD;
}
input {
  width: 150px;
  margin:10px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  color:#a66e38;
  background-color: #FFAD60;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}
::placeholder {
  color: rgba(166, 109, 56, 0.5);
}
.addProcessBtn{
    padding:15px 20px;
    background-color: #FFAD60;
    border-radius: 40px;
    margin-bottom: 10px;
    border-style: none;
    color: #A66E38;
    font-size: 20px;
}