.tableContainer{
    margin:20px;
}
table,th, tr, td{
    border: 2px solid #FFAD60;
    border-collapse: collapse;
}
table{

    background-color: #A66E38;
}
td, th{
text-align: center;
padding:10px  15px;
color:#FFEEAD;
}