.simulationContainer{
    border:2px solid red;
    width:80%;
}
.queueItem {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background-color: #ddd;
    color: #333;
    border-radius: 4px;
  }
  
  .completedProcess {
    background-color: #a8d5a8; /* Light green for completed processes */
    color: #fff; /* White text for contrast */
  }
  