.simulationContainer{
    margin-bottom: 20px;
    color: #a66e38;
}
.queueItem {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background-color: #ddd;
    color: #473b22;
    border-radius: 4px;
  }
  
  .inProgressProcess {
    background-color: yellow; /* You can choose any color */
    font-weight: bold;
  }
  