.simulationContainer{
    margin-bottom: 20px;
    color: #a66e38;
}
.queueItem {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    background-color: #ddd;
    color: #473b22;
    border-radius: 4px;
  }
  
  .completedProcess {
    background-color: #74c974; /* Light green for completed processes */
    color: #2e6e2e; /* White text for contrast */
  }
  